body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.display {
    width: calc(100% - );
    height: 60px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
.plus{
    background-color: rgba(18, 18, 18, 0.29);

}
.plus:hover {
    background-color: rgba(18, 18, 18, 0.195);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.clear{
    background-color:#ec2525 ;
}

.clear:hover {
    background-color:#ec2525 ;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
